/* .movie-container {
  display: flex;
  flex-wrap: wrap;
}
.movie-item {
  width: 20%;
  margin: 10px;
  text-align: center;
}
.movie-item img {
  width: 100%;
  height: auto;
}

#results {
  list-style: none;
} */